
@{
    ViewBag.Title = "Event";
}

<h2 class="titulo no-margin negro fondo mediano">Eventos</h2>

<div class="contenedor">
    <h2 class="titulo no-margin centrar-texto negro"> Sobre nuestras referencias</h2>
    <div class="contenido">
        <div class="contenido__imagen imagen-centrada">
            <picture>
                <source loading="lazy" srcset="~/Content/imagenes/buceo.jpg" type="image/jpg">
                <img loading="lazy" src="img/Buceo.jpg" alt="imagen Buceo">
            </picture>
        </div>
        <div class="contenido__lugar">
            <h2 class="no-margin centrar-texto">Feria del Buceo</h2>
            <p class="contenido__texto">
                Todos los años estamos en la feria nocrurna del buceo, nos veran siempre o por
                Jose Batlle y Ordoñez(ex Propios) y Av. Rivera.
            </p>
        </div>
    </div>

    <div class="contenido">
        <div class="contenido__imagen imagen-centrada">
            <picture>
                <source loading="lazy" srcset="~/Content/imagenes/trouville.jpg  " type="image/jpg">
                <img loading="lazy" src="img/trouville.jpg" alt="imagen trouville">
            </picture>
        </div>
        <div class="contenido__lugar">
            <h2 class="no-margin centrar-texto">Feria de Trouville</h2>
            <p class="contenido__texto">
                Estuvimos años anteriores en el Paseo Trouville, con unas hermosas noches de verano
                para poder pasear en familia.
            </p>
        </div>
    </div>

    <div class="contenido">
        <div class="contenido__imagen imagen-centrada">
            <picture>
                <source loading="lazy" srcset="~/Content/imagenes/ramirez.jpg" type="image/jpg">
                <img loading="lazy" src="img/trouville.jpg" alt="imagen trouville">
            </picture>
        </div>
        <div class="contenido__lugar">
            <h2 class="no-margin centrar-texto">Paseo Ramirez</h2>
            <p class="contenido__texto">
                Estamos hace dos años en el Paseo Ramirez, con unas hermosas noches de verano
                para poder pasear en familia,frente a la rambla de Montevideo.
            </p>
        </div>
    </div>
    <br />
</div>