
@{
    ViewBag.Title = "Index";
}

<h2 class="titulo negro fondo mediano">Bienvenidos a nuestra página web</h2>

<div class="contenedor">
    <main class="contenido__principal">
        <article class="entrada">
            <div class="entrada__imagen">
                <picture>
                    <img loading="lazy" src="~/Content/imagenes/la eva.jpg" alt="imagen la eva">
                </picture>
                <h3 class="titulo negro mediano">La Eva</h3>
                <p class="texto">
                    Nuestra querida Eva, nuestra compañera de viaje semanal.
                    Estamos de Lunes a Viernes de 09 a 18hs y Sábados de 09 a 15hs.
                </p>
            </div>
        </article>

        <article>
            <div class="entrada__imagen">
                <picture>
                    <img loading="lazy" src="~/Content/imagenes/Food.jpg" alt="imagen food">
                </picture>
                <h3 class="titulo negro mediano">La Ev@lución</h3>
                <p class="texto">
                    Nuestra Ev@lución un food track moderno y adaptable para cualquier tipo de comidas.
                    Listos para cualquier evento.
                </p>
            </div>
        </article>
    </main>
</div>